
.input-group-label {
    background-color: #373737;
    border-style: none;
    color: whitesmoke;
  }
  .input-group-label i {
    margin-left: -4px;
    color: #585858;
  }
  .input-group {
    background-color: #373737;
    border: 1px solid #373737;
    border-radius: 2px;
    height: 32px !important ;
    margin-left: 40px;
    margin-top: 40px;
    width: 93%;
  }
  
  #planElements {
    margin-top: 20px;
  }
  #planElements li .elementPrice {
    margin-right: 30px;
  }
  
  input {
    border-style: none;
    background-color: #121212;
  }
  
  body {
    background-color: #121212;
  }
  .card-section {
    padding: 20px;
    background: #121212;
    font-size: 1.2em;
  }
  .card-section .fa-edit {
    color: #90caf9;
    margin-left: 10px;
    font-size: 0.9em !important;
  }
  .card-section .fa-trash-alt {
    font-size: 0.9em !important;
    margin-left: 10px;
    color: #ef9a9a;
  }
  
  #addingAnElement {
    background-color: #373737;
    color: whitesmoke;
    display: block;
    border: 1px solid black;
    border-radius: 10px;
  }
  #addingAnElement input {
    border: 1px solid #212121;
    border-radius: 3px;
    background-color: #212121;
    color: #eeeeee;
  }
  .reveal h4 {
    margin: 0px 0px 25px 0px !important;
    color: #eeeeee;
  }
  .lead {
    font-size: 17px;
    color: #eeeeee;
    font-weight: bold;
  }
  
  .secondary {
    background-color: #373737 !important ;
    border-radius: 2px;
  }
  .alert {
    background-color: #616161 !important;
    color: black !important;
  }
  
  .card-divider {
    padding: 40px 30px 20px 40px;
    background: #121212;
  }
  
  .card-divider h5 {
    margin-bottom: 0px;
    float: left;
  }
  .card-divider .settingValue {
    font-size: 1.2em;
  }
  
  .card-divider .setting {
    font-weight: bold;
    color: #eeeeee;
  }
  .card-divider .editSetting {
    text-align: right;
    float: right;
    font-size: 1.1em;
    color: #90caf9;
  }
  #addConfBtn {
    font-size: 15px;
  }
  #addConfBtn i {
    margin-right: 5px;
  }
  
  .settingContainer:first-child {
    margin-top: 20px !important;
    border-bottom: 1px solid gray;
    height: 40px;
    margin-bottom: 30px;
  }
  .card-section {
    padding: 40px 30px 20px 40px;
  }
  .card-section ul li {
    margin-bottom: 10px;
  }
  .card-section a {
    padding: 0px;
  }
  
  .card {
    border: none;
    color: whitesmoke;
  }